# Global Python / System ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
Thumbs.db

# Environment / venv
.env
.venv/
venv/
**/.env
**/.venv/

# Local cache
.cache/
logs/

# Certificates (for safety)
your_cert.pem
your_key.pem
